body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 500px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.signup-btn,
.login-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signup-btn:hover,
.login-btn:hover {
    background-color: #0056b3;
}
